{% extends "Main/base.html" %}
{% load static %}
{% block content %}

    <h1>Materiał</h1>
    <div class="row">
      <div class="col-md-10">
            <h4>Numer</h4>
            <p>{{ material.number }}</p>

            <h4>Nazwa odczynnika</h4>
            <p>{{ material.name }}</p>

            <h4>Jednostka</h4>
            <p>{{ material.unit }}</p>

            <h4>Liczba</h4>
            <p>{{ count }}</p>

            <h4>Operacja</h4>
            <p>{{ material.action }}</p>
      </div>
      <div class="col-md-2">
          <a href="{% url 'material-delete-confirm' material.number %}">
              <button class="btn btn-block my-2">Usuń</button>
          </a>
          <a href="{% url 'material-edit' material.number %}">
              <button class="btn btn-block my-2">Edytuj materiał</button>
          </a>
      </div>
    </div>

    <h2>Uwagi</h2>
    <div class="col-md-10">
            {{material.notes}}
    </div>

    <h2>Operacje</h2>
    <div class="col-md-10">
      <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr>
                  <th>Lot</th>
                  <th>Data dostawy</th>
                  <th>Data ważności</th>
                  <th>Data otwarcia</th>
                  <th>Stan</th>
              </tr>
            </thead>
            <tbody>
              {% for op in operations %}
              <tr style="color: {% if op.is_archived %}silver{% else %}black{% endif %}">
                  <td>{{ op.flight }}</td>
                  <td>{{ op.deliveryDate }}</td>
                  <td>{{ op.expirationDate }}</td>
                  <td>{{ op.openDate }}</td>
                  <td>{{ op.count }}</td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="5">Brak operacji.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>

{% endblock %}