{% extends "Main/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row mt-3">
    <div class="col-md-9">
      <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr>
                <th>Nazwa</th>
                <th>Link</th>
                <th>Usuń</th>
              </tr>
            </thead>
            <tbody>
              {% for file in files %}
              <tr>
                  <td>{{ file.name }}</td>
                  <td><a href="{% url 'download' file.id %}">Pobierz</a></td>
                  <td><a href="{% url 'file-delete-confirm' file.id %}">Usuń</a></td>
              </tr>
              {% empty %}
                <tr>
                  <td colspan="3">Brak plików.</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
    </div>
    <div class="col-md-3">
        <a href="{% url 'file-add' %}">
            <button class="btn btn-block">Dodaj Nowy</button>
        </a>
        <form method="POST" class="border rounded mt-3 p-2">
            {% csrf_token %}
            <fieldset class="form-group">
                {{ search_form|crispy }}
            </fieldset>

            <div class="form-group">
                <button class="btn btn-block" type="submit">Szukaj</button>
            </div>

        </form>


    </div>
</div>

{% endblock %}